body {
	font-family: sans-serif;
	background: #212529; 
	color: #fff;
}

h1 {
	text-shadow: 0px 0px 5px #0d6efd, 0px 0px 10px #fff;
}

table {
	background: #6c757d;
	border-radius: 20px;
	border:solid 0px;
}

.day {
	font-size: 90px;
}

.hours {
	font-size: 390px;
	color: #212529;
}

.seconds {
	font-size: 190px;
	padding-top: 170px;
	color: #0d6efd; 
}

.clock {
	font-size: 40px;
}
